<launch>
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="/robot1/cmd_vel" />
  <arg name="odom_topic" default="/robot1/odom" />

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="/use_sim_time" value="true" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    
    <rosparam file="$(find maze_gmapping)/config/maze/costmap_common_params_burger.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find maze_gmapping)/config/maze/costmap_common_params_burger.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find maze_gmapping)/config/maze/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find maze_gmapping)/config/maze/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find maze_gmapping)/config/maze/dwa_local_planner_params_burger.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="/odom" to="$(arg odom_topic)"/>

  </node>
</launch>
