<launch>

<include file="$(find fira_maze)/launch/maze_1_two_robots.launch">
</include>
<include file="$(find nav_vel_plan)/launch/robot1.launch">
</include>
<include file="$(find nav_vel_plan)/launch/robot2.launch">
</include>
<include file="$(find nav_vel_plan)/launch/gmapping_demo.launch">
</include>

<node pkg="nav_vel_plan" type="maze_explorer.py" respawn="true" name="maze_explorer" output="screen" clear_params="true">
</node>

<node pkg="nav_vel_plan" type="move_base_monitor" respawn="true" name="move_base_monitor" output="screen" clear_params="true">
</node>

</launch>